.buttonContainer {
    background-color: rgb(162, 237, 212);
    padding: 8px;
    font-size: 16px;
    margin: 10px;
    border-width: 0;
    border-radius: 12px;

    &:hover {
        background-color: #7bb9c7;
    }
}